.loginPage {
  margin: auto;
  width: 20%;
  margin-top: 10%;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-dark);
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a {
    color: var(--color-light);
}

a:hover {
  color: var(--color-primary);
}

input[type="text"],
input[type="password"] {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .loginPage {
    width: 20%;
    margin-left: 27%;
  }
  .section {
    width: 230%;
  }
}

@media screen and (max-width: 600px) {
  .loginPage{
    width: 40%;
    margin-left: 10%;
  }
  .section {
    width: 200%;
  }
  input[type="text"],
  input[type="password"] {
  font-size: 13px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
}