.service-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.service-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
    background: url('../Assets/background.jpg')no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.service-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.service-box h2{
    margin: 3% 0 3% 0;
}

.service-box h5{
    margin: 10% 0 10% 0;
}

.left{
	padding: 25px 40px;
    height: 100%;
}

.right{
	padding: 25px 40px;
	display: flex;
	flex-direction: column;
}

.field{
    /* position: absolute; */
    width: auto;
    height: 5vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: var(--color-black);
    transition: var(--transition);
    margin-bottom: 1vh;
}

/* .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
} */

textarea{
	min-height: 150px;
}

.field:focus{
    border-bottom: 2px solid var(--color-primary);
    background-color: #fff;
}

.field:focus::placeholder {
    color: var(--color-primary);
}

@media screen and (max-width: 880px){
	.service-box{
		grid-template-columns: 1fr;
	}
	/* .left{
		height: 200px;
	} */
}