header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    /* background-color: var(--color-light); */
    background-color: black;
    transition: var(--transition);
    box-shadow: -500px 500px;
}

@media screen and (max-width: 1024px){
    header{
        margin-top: 0;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    .header-profile{
        width: 14rem;
        height: 17rem;
        max-width: 60%;
        max-height: 35vh;
    }    
}